# Python
## Intro:
- Python is an interpreted, high-level, general-purpose programming language.
    - Compiler transforms code written in a high-level programming language into the machine code at once before the program runs, whereas an Interpreter converts each high-level program statement, one by one, into the machine code, during program run.
    - HHL: User-oriented, Designed to make programe straightforward. E.g. (Java, C, C++, Python, etc.)
    - GPPL: Broadly applicable across application domains, and lacks specialized features for a particular domain

![Alt text](one.png)

#### What is python?
- Created by Guido van Rossum, and released in 1991
- Flexible programming language
    - Any type of development: Functional, procedural or object oriented
- Humain readable:
    - close enough to english

#### Why use Python?
- Great starter language
    - Not alot of funky syntax to learn
- Great advanced language
    - Its flexable, can grow with your career
- Wonderful Community

#### What can I build with Python?
- Machine learning models
- AI projects
- Web development (server-side)
- Software development (Automation utilities)
- mathematics
- system scripting
- Anything, really

#### To know: Syntax
- Similarities to the English language with influence from mathematics
- Python uses new lines to complete a command
- Python relies on indentation, using whitespace, to define scope; such as the scope of loops, functions and classes.

---
---

### Quickstart:
- Check version
    - `python --version`
- Run in CLI
    - `python filename.py`
- Code in terminal
    - `python`
    - `print('hello world')`
    - `exit()`

---
---
---

# print

The print function allows you to send output to the terminal

- [print](https://docs.python.org/3/library/functions.html#print)

Strings can be enclosed in single quotes or double quotes

- "this is a string"
- 'this is also a string'
---

# input
The input function allows you to prompt a user for a value

- [input](https://docs.python.org/3/library/functions.html#input)
  
Parameters:

- `prompt`: Message to display to the user  

return value:

- string value containing value entered by user
---

In [17]:
firstNumber = input('Enter the first number: ')
secondNumber = input('Enter the second number: ')

addition = firstNumber + secondNumber

print(addition)

$$$$$777home88

In [4]:
a = input('Enter anything:')
print(a)

my name is ak47

# Comments
Comments are ignored when code is executed.\
Explain Python code.\
Make the code more readable.\
Prevent execution when testing code.

- Single line comment
    - Comments start with a hash character (#) and allow you to document your code.
- Multi line comment
    - String literals that are not assigned to a variable will be ignored by python. You can use them and add multiline comment in it
    - Starts and ends with triple quotes
- [Comments](https://docs.python.org/3/reference/lexical_analysis.html?highlight=comment)
---

In [19]:
# didn't wanted to execute below statement
# print('I do not wanna run')

# we are doing addition
print(6 + 19) # addition

'''
this 
this 
this
'''

print('hi')

25
hi

# Variables
Variables are containers for storing data values.\
A variable is created the moment you first assign a value to it.

## Variable naming styles
When naming variables follow the PEP-8 Style Guide for Python Code

- [PEP-8 Style Guide](https://www.python.org/dev/peps/pep-0008/#naming-conventions)
- The following naming styles are commonly distinguished:
    - `b` (single lowercase letter)
    - `B` (single uppercase letter)
    - `lowercase`
    - `lower_case_with_underscores`
    - `UPPERCASE`
    - `UPPER_CASE_WITH_UNDERSCORES`
    - `CapitalizedWords` ( CamelCase )
    - `mixedCase` (differs from CapitalizedWords by initial lowercase character!)
    - `Capitalized_Words_With_Underscores` (ugly!)

---

In [30]:
a = 2
B = 33
name = 'Ali'
user_name = 'Ali'
USER = 'Ali'
USER_NAME = 'Ali'
UserName = 'Ali'
userName = 'Ali'
User_Name = 'Ali'

In [44]:
# []
studenName[0]

'ttww'

In [ ]:
()

In [32]:
(a,B,user_name)

(2, 33, 'Ali')

In [31]:
list((a,B,user_name))

[2, 33, 'Ali']

In [24]:
studenName = ['ali','john','xyz','abc']
print(studenName, type(studenName))

['ali', 'john', 'xyz', 'abc'] <class 'list'>

In [37]:
studenName[0] = 'ttww'

In [38]:
studenName

['ttww', 'john', 'xyz', 'abc']

In [63]:
studenName.append('lastNumber')

In [65]:
studenName.insert(2,'New')
studenName

['ttww', 'john', 'New', 'xyz', 'abc', 'lastNumber']

In [64]:
studenName

['ttww', 'john', 'xyz', 'abc', 'lastNumber']

In [ ]:
list()

In [51]:
tuple(studenName)

('ttww', 'john', 'xyz', 'abc')

In [48]:
tupOne = (55,66,77,88)
tupOne

(55, 66, 77, 88)

In [50]:
tupOne = (55,66,77,90)
tupOne

(55, 66, 77, 90)

In [53]:
tupOne = list(tupOne)
tupOne[-1] = 88
tupOne = tuple(tupOne)
tupOne

(55, 66, 77, 88)

In [58]:
for i in range(5,21,2):
    print(i)

5
7
9
11
13
15
17
19

In [59]:
newDict = {'Name':'Karar', 'Age':21}
newDict

{'Name': 'Karar', 'Age': 21}

In [61]:
newDict = {'Name':['Karar','Ali','John'],
            'Age':21,
            154:'xyz'}
newDict

{'Name': ['Karar', 'Ali', 'John'], 'Age': 21}

In [62]:
newDict['Name']

['Karar', 'Ali', 'John']

In [68]:
#set
setOne = {4,5,6,6,7,4,5,2}
setOne, type(setOne)

({2, 4, 5, 6, 7}, set)

In [76]:
#
bolOne = True
bolTwo = False
bool(0)

False

In [77]:
type(bolOne)

bool

In [78]:
names = [1,2,3,4,None]
names

[1, 2, 3, 4, None]

In [79]:
names.append(6666)

In [80]:
names

[1, 2, 3, 4, None, 6666]

In [82]:
one = {1,2,3,4,5}
one

{1, 2, 3, 4, 5}

# Built-in Data Types
Variables can store data of different types, and different types can do different things.\
Python has the following data types built-in by default, in these categories:\

- Text Type:`str`
- Numeric Types:	`int, float, complex`
- Sequence Types:	`list, tuple, range`
- Mapping Type:	`dict`
- Set Types:	`set, frozenset`
- Boolean Type:	`bool`
- Binary Types:	`bytes, bytearray, memoryview`
- None Type:	`NoneType`

### Getting the Data Type
You can get the data type of any object by using the `type()` function:

---

In [6]:
'''Setting the data Types'''

x = "Hello World"	#str
x = 20	#int
x = 20.5	#float
x = 1j	#complex
x = ["apple", "banana", "cherry"]	#list
x = ("apple", "banana", "cherry")	#tuple
x = range(6)	#range
x = {"name" : "John", "age" : 36}	#dict
x = {"apple", "banana", "cherry"}	#set
x = frozenset({"apple", "banana", "cherry"})	#frozenset
x = True	#bool
x = memoryview(bytes(5))	#memoryview
x = None	#NoneType

In [7]:
'''Getting the data type'''
x = 5
print(type(x))

<class 'int'>

In [90]:
type(50)

int

In [91]:
'''Setting specific Data Type'''
x = str("Hello World")	
x = int(20)	
x = float(20.5)	
x = list(("apple", "banana", "cherry"))	
x = tuple(("apple", "banana", "cherry"))	
x = dict(name="John", age=36)	
x = set(("apple", "banana", "cherry"))	
x = bool(5)

{'name': 'John', 'age': 36}

In [93]:
34e20

3.4e+21

In [94]:
import random

In [122]:
random.randrange(5,20,3)

17

In [124]:
int('66')

66

In [133]:
'''
Welcome to ***
Wish you ***'''

print(a)

Welcome to ***
Wish you ***

# Python Numbers
Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [10]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

# Float
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.\
Float can also be scientific numbers with an "e" to indicate the power of 10.

In [12]:
x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

# Strings

Python can store and manipulate strings. Strings can be enclosed in single or double quotes. There are a number of string methods you can use to manipulate and work with strings

- [strings](https://docs.python.org/3/tutorial/introduction.html#strings)
- [string methods](https://docs.python.org/3/library/stdtypes.html#string-methods)

Converting to string values

- [str](https://docs.python.org/3/library/functions.html#func-str)

---

# sclicing string

In [134]:
a = 'Country'
print(a)

Country

In [140]:
nameList = ['one','two','three']
nameList

['one', 'two', 'three']

In [149]:
'karar' in nameList

False

In [144]:
for currValList in nameList:
    print(currValList)

one
two
three

In [151]:
print(a)
'z' not in a

Country

True

In [147]:
len(nameList)

3

In [ ]:
txt = "The best things in life are free!"

if "free" in txt:
    print("Yes, 'free' is present.")

In [153]:
b = "Hello, World!"

print(b[-5:-2])

orl

In [154]:
b[-5]

'o'

In [155]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [156]:
print(a.lower())

hello, world!

In [157]:
print(a.title())

Hello, World!

In [159]:
a = "     Hello, World! "
print(a)
print(a.strip()) # returns "Hello, World!"

     Hello, World!
Hello, World!

In [160]:
print(a)

     Hello, World!

In [162]:
a.replace('o','Z')

'     HellZ, WZrld! '

In [163]:
a = 'ali, john, xyz'

In [165]:
a.split('j')

['ali, ', 'ohn, xyz']